* {
    margin: 0;
}

body {
    font-family: Rubik, "sans-serif";
    background: #cad321;
    color: #000;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 10rem 0 0 0;
}

h1 {
    font-size: 3.5rem;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #161616;
}

main {
    height: 28em;
    bottom: 0;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 0;

    display: block;
}

.container {
    padding: 1em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.btn {
    background: 0;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;

    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
    user-select: none;

    touch-action: manipulation;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: #cad321;
    transition: 0.3s all;
}

.btn:active {
    transition: 0.2s all;
    transform: scale(0.95);
    box-shadow: none;
}

footer {
    text-align: center;
    margin: 4rem 0 0 0;

    color: rgba(255, 255, 255, 0.8);
}

/* Loading animation */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cad321;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease; /* Add transition property for smooth fade-out */
}

#loader img {
    width: 100px; /* Set the width and height of your GIF as needed */
    height: 100px;
}

/* Hide the loader when content is loaded */
body.loaded #loader-wrapper {
    opacity: 0; /* Set opacity to 0 when the body has the 'loaded' class */
    pointer-events: none; /* Disable pointer events to allow interaction with underlying content */
}
